body, h1, h2 {
    margin: 8px;
    padding: 0px;
}

body {
    min-width: fit-content;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
}

h2 {
    background-color: skyblue;
    font-size: 20px;
    color: #282828;
    margin-bottom: 16px;
    border-bottom: 1px solid #ebebeb;
    padding: 5px;
}

.mainbox {
    width: 610px;
    padding: 30px;
    margin: 30px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ebebeb;
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.1);
}

.title-box {
    text-align: right;
    margin-bottom: 20px;
}