body {
    margin-left: 50px;
}

h2 {
    margin-top: 50px;
    margin-bottom: 40px;
}

ul {
    color: rgb(60, 78, 198);
    font-size: 20px;
    font-weight: bold;
    padding-left: 0;
}

ul > li {
    color: black;
    font-size: 14px;
    font-weight: lighter;
    margin-top: 5px;
    margin-left: 20px;
}

#todo-form input {
    width: 190px;
}

#todo-form button, #todo-list li button {
    background-color: white;
    border-width: thin;
    border-radius: 3px;
}

#todo-list li button {
    margin-left: 5px;
}